p {
    margin-top: 28px; /* Отступ сверху */
    margin-bottom: 28px; /* Отступ снизу */
   }
body{
    background-color: rgba(218, 167, 57, 0.466);
   }

.page{
    text-align:center;
}

.page1{display: block;
      text-align:center;
      text-decoration: none; 
     }


div{
    width: 40%;
    border: solid 2px rgba(0, 0, 0, 0.466);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.art{
    width: 60%;
    border: solid 2px black;
}

#image{display: none}

#elem{
    color: rgb(151, 66, 177);
}
